.hero-image {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 625px;
}

article {
  display: block;
  position: relative;
  top: 625px;
}

h2.category {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.13em;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.grid-container--category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 800px) {
  .grid-container--category {
    grid-template-columns: repeat(2, 1fr);
  }

  h2.category {
    font-size: 2em;
    line-height: 1.05em;
  }
}

@media screen and (max-width: 400px) {
  h2.category {
    font-size: 1.5em;
    line-height: 1em;
  }
}
